
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shorter</title>
    <link rel="stylesheet" href="contact_style.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="logo">
                <p>URL SHORTER</p>
            </div>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="info">
        <p>Marcin Nieckosiński</p>
        <p>marcin.nieckosinski@gmail.com</p>
        <p>794470060</p>
    </div>
</body>

</html>
